<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Teste Thymeleaf</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </head>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usuarios/cadastro">Cadastrar Usuário</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <body>
    <h1>Olá, <span th:text="${user.nome}">Usuário</span></h1>
    <div class="container text-center">
      <div class="row">
        <h2>Filmes para Assistir</h2>
        <div class="col">
          <a href="/filmes/novo">
            <button type="button" class="btn btn-primary">Adicionar Filme</button>
          </a>
        </div>
        <div
          class="row row-cols-1 row-cols-md-3 g-4"
          th:if="${user.paraAssistir}"
        >
          <div class="col" th:each="filme : ${user.paraAssistir}">
            <div class="card h-100">
              <img
                th:src="${filme.imagemUrl}"
                class="card-img-top"
                alt="Imagem do filme"
              />
              <div class="card-body">
                <h5 class="card-title" th:text="${filme.titulo}">
                  Título do filme
                </h5>
                <p class="card-text" th:text="${filme.descricao}">
                  Descrição do filme
                </p>
                <a th:href="@{'/filmes/' + ${filme.id}}" class="btn btn-primary"
                  >Detalhes</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <h2>Filmes Assistidos</h2>
        <div
          class="row row-cols-1 row-cols-md-3 g-4"
          th:if="${user.assistidos}"
        >
          <div class="col" th:each="filme : ${user.assistidos}">
            <div class="card h-100">
              <img
                th:src="${filme.imagemUrl}"
                class="card-img-top"
                alt="Imagem do filme"
              />
              <div class="card-body">
                <h5 class="card-title" th:text="${filme.titulo}">
                  Título do filme
                </h5>
                <p class="card-text" th:text="${filme.descricao}">
                  Descrição do filme
                </p>
                <a th:href="@{'/filmes/' + ${filme.id}}" class="btn btn-primary"
                  >Detalhes</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
